<h1> Hola {{ user.givenName }} </h1>
<h2> Usted ha recibido este email porque solicitó un email para cambiar su contraseña, en caso de que no haya sido usted simplemente descarte este mensaje.</h2>
<p>
  <a href="{{ frontUrl }}/resetPassword?email={{ token.email }}&token={{ token.token }}" target="_blank">Cambiar contraseña</a>
</p>
